.container {
   background-color: #282c34; /* #282C34  */
   height: 4rem;
   display: flex;
   align-items: center;
   gap: 1rem;
   padding: 0 2rem;
   top: 0;
   position: sticky;
}

.logotype {
   font-size: 1.2rem;
   /* margin-left: ; */
}

.button {
   background: #343944;
   border: 1px solid #4c5873;
   box-sizing: border-box;
   border-radius: 4px;
   display: flex;
   padding: 0px;
   cursor: pointer;
}

.button:hover {
   background: #444a55;
   border: 1px solid #586481;
}

.number {
   padding: 0.4rem 0.6rem;

   font-family: Consolas;
   font-style: normal;
   font-weight: normal;
   font-size: 0.9rem;
   line-height: 1rem;

   color: #5a5a5a;

   border-right: 1px solid #4c5873;
}

button:hover .number {
   border-right: 1px solid #586481;
   color: #6d6d6d;
}

.code-text {
   padding: 0.4rem 0.6rem;
   font-family: Consolas;
   font-style: normal;
   font-weight: normal;
   font-size: 0.9rem;

   color: #99c27c;
}

#left-nav {
   display: flex;
   gap: 1rem;
   margin-left: 2rem;
}

.spacer {
   flex: 1;
}

#right-nav {
   display: flex;
   justify-content: center;
}

.social-button {
   background: none;
   border: none;
   color: #d0d0d0;
   font-size: 1rem;
   display: flex;
   align-items: center;
   margin-left: 1rem;
}
.social-button img {
   margin-right: 0.5rem;
   height: 24px;
}

.social-button:hover {
   color: #f3f3f3;
}

a {
   text-decoration: none;
}
